@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";

    var usuarioNombre = HttpContextAccessor.HttpContext.Session.GetString("UsuarioNombre");
    var rolId = HttpContextAccessor.HttpContext.Session.GetInt32("RolId");
}

<body class="home">
    <!-- Añadimos la clase "home" al body -->

    <div class="container text-center mt-5">
        <!-- Título de bienvenida -->
        <h1 class="display-4 mb-4">¡Bienvenido, @(string.IsNullOrEmpty(usuarioNombre) ? "Invitado" : usuarioNombre)!</h1>
        <p class="lead mb-4">Esta es tu página principal. Explora nuestras opciones a continuación.</p>

        <!-- Botones con estilos mejorados -->
        @if (rolId.HasValue && rolId == 1)
        {
            <a href="@Url.Action("Index", "Admin")" class="btn btn-primary mt-3 btn-lg">
                <i class="fas fa-users-cog"></i> Gestión de Usuarios
            </a>
        }

        <!-- Botón para ir a la búsqueda de libros -->
        <a href="@Url.Action("Index", "Book")" class="btn btn-info mt-3 btn-lg">
            <i class="fas fa-book"></i> Buscar Libros
        </a>

        <!-- Botón para mis libros favoritos -->
        <a asp-controller="Book" asp-action="Favorite" class="btn btn-info mt-3 btn-lg">
            <i class="fas fa-bookmark"></i> Libros favoritos
        </a>



    </div>

    <!-- Agregar iconos de FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</body>
